In [2]:
age = 30
x = 10
y = 5
print(x+y)

15

In [4]:
2ndNAme = "John"
print(2ndNAme)

SyntaxError: invalid decimal literal (1488951288.py, line 1)

In [5]:
x = "Jane" 
print(x)

Jane

In [ ]:
input("Enter your name: ")
input("Enter your age: ")